# Performing Expoloratory Data Analysis on Stock Data

Importing Datasets and Libraries

In [2]:
# Mount the drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from copy import copy
from scipy import stats
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go

In [5]:
# Read the stock data csv file, here's the list of the stocks considered:
stocks_df = pd.read_csv('/content/drive/My Drive/ 2020-2021 Semester 1/Extras/Project/1. Stock Data Analysis/stock.csv')
stocks_df

            Date        AAPL          BA  ...         TSLA         GOOG        sp500
0     2012-01-12   60.198570   75.510002  ...    28.250000   313.644379  1295.500000
1     2012-01-13   59.972858   74.599998  ...    22.790001   311.328064  1289.089966
2     2012-01-17   60.671429   75.239998  ...    26.600000   313.116364  1293.670044
3     2012-01-18   61.301430   75.059998  ...    26.809999   315.273285  1308.040039
4     2012-01-19   61.107143   75.559998  ...    26.760000   318.590851  1314.500000
...          ...         ...         ...  ...          ...          ...          ...
2154  2020-08-05  440.250000  174.279999  ...  1485.020020  1473.609985  3327.770020
2155  2020-08-06  455.609985  172.199997  ...  1489.579956  1500.099976  3349.159912
2156  2020-08-07  444.450012  170.020004  ...  1452.709961  1494.489990  3351.280029
2157  2020-08-10  450.910004  179.410004  ...  1418.569946  1496.099976  3360.469971
2158  2020-08-11  437.500000  180.130005  ...  1374.390015  1480.319946  3333.689941

[2159 rows x 10 columns]

In [6]:
# Sort the stock data by date
stocks_df = stocks_df.sort_values(by = 'Date')
stocks_df

            Date        AAPL          BA  ...         TSLA         GOOG        sp500
0     2012-01-12   60.198570   75.510002  ...    28.250000   313.644379  1295.500000
1     2012-01-13   59.972858   74.599998  ...    22.790001   311.328064  1289.089966
2     2012-01-17   60.671429   75.239998  ...    26.600000   313.116364  1293.670044
3     2012-01-18   61.301430   75.059998  ...    26.809999   315.273285  1308.040039
4     2012-01-19   61.107143   75.559998  ...    26.760000   318.590851  1314.500000
...          ...         ...         ...  ...          ...          ...          ...
2154  2020-08-05  440.250000  174.279999  ...  1485.020020  1473.609985  3327.770020
2155  2020-08-06  455.609985  172.199997  ...  1489.579956  1500.099976  3349.159912
2156  2020-08-07  444.450012  170.020004  ...  1452.709961  1494.489990  3351.280029
2157  2020-08-10  450.910004  179.410004  ...  1418.569946  1496.099976  3360.469971
2158  2020-08-11  437.500000  180.130005  ...  1374.390015  1480.319946  3333.689941

[2159 rows x 10 columns]

Understanding the contents of the data

In [7]:
# Print out the number of stocks
print('Total Number of Stocks : {}'.format(len(stocks_df.columns[1:])))

Total Number of Stocks : 9

In [8]:
# Print the name of stocks
for i in stocks_df.columns[1:]:
  print(i)

AAPL
BA
T
MGM
AMZN
IBM
TSLA
GOOG
sp500

In [9]:
# Check if data contains any null values
stocks_df.isnull().sum()

Date     0
AAPL     0
BA       0
T        0
MGM      0
AMZN     0
IBM      0
TSLA     0
GOOG     0
sp500    0
dtype: int64

In [10]:
# Getting dataframe info
stocks_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2159 entries, 0 to 2158
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2159 non-null   object
 1   AAPL    2159 non-null   float64
 2   BA      2159 non-null   float64
 3   T       2159 non-null   float64
 4   MGM     2159 non-null   float64
 5   AMZN    2159 non-null   float64
 6   IBM     2159 non-null   float64
 7   TSLA    2159 non-null   float64
 8   GOOG    2159 non-null   float64
 9   sp500   2159 non-null   float64
dtypes: float64(9), object(1)
memory usage: 185.5+ KB

Plotting the data

In [ ]:
def show_plot(df, fig_title):
  df.plot(x = 'Date', figsize = (15, 7), linewidth = 3, title = fig_title)
  plt.grid()
  plt.show()

In [ ]:
show_plot(stocks_df, 'RAW STOCK PRICES (WITHOUT NORMALISATION)')

In [ ]:
def normalize(df):
  x = df.copy()

  # Loop through each stock (while ignoring time columns with index 0)
  for i in x.columns[1:]:
    x[i] = x[i]/x[i][0]
  return x

In [ ]:
show_plot(normalize(stocks_df), 'NORMALIZED STOCK PRICES')

Creating Interactive Data Visualisations

In [ ]:
def interactive_plot(df, title):
  fig = px.line(title = title)

  for i in df.columns[1:]:
    fig.add_scatter(x = df['Date'], y = df[i], name = i)

  fig.show()

In [ ]:
interactive_plot(stocks_df,'Prices')

In [ ]:
interactive_plot(normalize(stocks_df), 'Prices (Normalised)')

Calculating Individual Stock Daily Return

In [ ]:
df = stocks_df['sp500']
df

In [ ]:
df_daily_return = df.copy()

for i in range(1, len(df)):
  df_daily_return[i] = ((df[i] - df[i - 1]) / df[i - 1]) * 100

df_daily_return[0] = 0
df_daily_return

In [ ]:
df = stocks_df['AMZN']
df

df_daily_return = df.copy()

for i in range(1, len(df)):
  df_daily_return[i] = ((df[i] - df[i - 1]) / df[i - 1]) * 100

df_daily_return[0] = 0
df_daily_return

Multiple Stock Daily Return

In [ ]:
# define a function to calculate stocks daily returns (for all stocks) 
def daily_return(df):
  df_daily_return = df.copy()

#loop on columns (stocks)
  for i in df.columns[1:]:
    # loop on each row
    for j in range(1, len(df)):
      df_daily_return[i][j] = ((df[i][j] - df[i][j -1])/df[i][j -1] )* 100

  df_daily_return[i][0] = 0
  return df_daily_return

In [ ]:
# Get the daily returns 
stocks_daily_return = daily_return(stocks_df)
stocks_daily_return

In [ ]:
interactive_plot(stocks_daily_return, 'RETURN VS TIME(INTERACTIVE)')

Calculating Correlations between Daily Returns

In [ ]:
# Daily Return Correlation
cm = stocks_daily_return.drop(columns=['Date']).corr()

In [ ]:
plt.figure(figsize = (10, 10))
sns.heatmap(cm, annot = True)

Plotting Histograms for Daily Returns


> Seeing the standard deviation will help us understand the volatality and risk of the stock

In [ ]:
stocks_daily_return.hist(figsize = (10, 10), bins = 40);

In [ ]:
df_hist = stocks_daily_return.copy()
df_hist = df_hist.drop(columns =['Date'])

data = []

for i in df_hist.columns:
  data.append(stocks_daily_return[i].values)

data

In [ ]:
fig = ff.create_distplot(data, df_hist.columns)
fig.show()